
.reveal section img {
    border: 0;
    max-height: 80%;
    max-width: 80%;
}

.sponsors {
    font-size: 70% !important;
}

.sponsors img {
    width: 30%;
    height: 30%;
}

.imagecentersize75 img {
    width: 75%;
    height: 75%;
}

.imagecentersize60 img {
    width: 75%;
    height: 75%;
}

.imagecentersize50 img {
    width: 50%;
    height: 50%;
}

.imagecentersize10 img {
    width: 10%;
    height: 10%;
}




.font90, .font90 li, .font90 table {
    font-size: 90% !important;
}
.font80, .font80 li, .font80 table {
    font-size: 80% !important;
}
.font70, .font70 li, .font70 table {
    font-size: 70% !important;
}
.font60, .font60 li, .font60 table {
    font-size: 60% !important;
}
.font50, .font50 li, .font50 table {
    font-size: 50% !important;
}




.footer {
    width: 100%;
    text-align: center;
    font-size: 50% !important;
}

.footer a {
    font-size: 50% !important;
}
